
body{
    background: rgb(37, 174, 156);
    height: auto;
}
header{
    height: auto;
    background-color: rgb(139, 176, 201);
    margin: 1em;

}

footer{
    background-color: bisque;
}

section{
    background-color: rgb(97, 147, 97);
    margin: 1em;
}